html {
  --scrollbarBG: #292b2c;
  --thumbBG: #c0b9b9;
}
body::-webkit-scrollbar {
  width: 16px;
}
body {
  scrollbar-width: auto;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 4px;
  border: 3px solid var(--scrollbarBG);
}

.nav-item {
  padding-right: 1rem;
  padding-left: 1.5rem;
}

#intro {
  background-image: url("typing1.jpg");
  height: 100vh;
}

.parallax-img {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: auto;
}

img.logo {
  max-width: 70%;
  max-height: 70%;
}

.heading-content {
  position: relative;
  top: 35%;
  width: 100%;
}

.heading-content h1 {
  font-size: 5vw;
  font-weight: bolder;
}

.heading-content h2 {
  font-size: 3vw;
}

.heading-content h3 {
  font-size: 3vw;
}

.multicolouredtext {
  background-image: linear-gradient(to left, #28bd03, #fff200, #ff0000);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.multicolouredtext2 {
  background-image: linear-gradient(to left, #ff0099, #a1678b);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.row-img {
  width: 80%;
  height: 80%;
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom--xyz img {
  transition: transform 0.5s, filter 0.5s ease-in-out;
  filter: grayscale(30%);
}

.img-hover-zoom--xyz:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

#pausePlay {
  padding: 0.7rem;
  font-size: 8vw;
  color: whitesmoke;
}

.row {
  padding-bottom: 1.5rem;
}

#about-me {
  padding-top: 1.5rem;
}

#github {
  color: #f5f5f5;
}

#linkedin {
  color: #0e76a8;
}

#mail {
  color: #fa8072;
}

.loader-wrapper {
  background-color: #242f3f;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: relative;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

#loading {
  color: whitesmoke;
}

.load-content {
  display: absolute;
  top: 50%;
  transform: translate(0, 400%);
}

/* #fixed-matrix{
	background-image: url("matrixCode.jpg");
	height: 30vw;
}

#fixed-code{
	background-image: url("code.jpg");
	height: 30vw;
}

#fixed-codingLady{
	background-image: url("codingLady.jpg");
	height: 30vw;
} */
