:root{
	--ff-primary: 'Open Sans', sans-serif;
	--ff-secondary: 'Staatliches', cursive;

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-light: #fff;
	--clr-dark: #303030;
	--clr-accent: #16e0bd;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	background: #333333;

}

.nav-item {
	padding-right: 1rem;
	padding-left: 1.5rem;
}

.intro-img{
	position: relative;
	min-width: 70%;
	min-height: 70%;
}

img.logo{
	max-width: 70%;
	max-height: 70%;
}

.heading-content{
	position: absolute;
	top: 40%;
	width: 100%;
	
}

.heading-content h1{
	font-size: 5vw;
	font-weight: bolder;
}

.heading-content h2{
	font-size: 3vw;
}

.heading-content h3{
	font-size: 3vw;
}

.multicolouredtext {
	background-image: linear-gradient(to left, #28bd03, #fff200, #ff0000);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	
  }


.multicolouredtext2{
	background-image: linear-gradient(to left, #ff0099, #a1678b);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
}

.about-img{
	max-width: 80%;
	min-width: 80%;
}

.img-hover-zoom {
	overflow: hidden;
}

.img-hover-zoom--xyz img {
	transition: transform .5s, filter 1.5s ease-in-out;
  	filter: grayscale(100%);
}
  
.img-hover-zoom--xyz:hover img {
	filter: grayscale(0);
  	transform: scale(1.1);
}

#pausePlay {
	padding: 0.7rem;
	font-size: 8vw;
}